<div class="content" role="main">
  <br/>
  <h1>Companies</h1>
  <div>
    <br />
    <h3>List of companies:</h3>
    <br />
    <table id="companiesTable" class="table table-striped">
      <tr>
        <th>Tax identification number</th>
        <th>Address</th>
        <th>Name</th>
        <th>Pension insurance</th>
        <th>Health insurance</th>
      </tr>
      <tr *ngFor="let company of companies">
        <td>{{ company.taxIdentificationNumber }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.pensionInsurance }}</td>
        <td>{{ company.healthInsurance }}</td>
      </tr>
    </table>
  </div>
</div>




